body {
    font-family: "Sora", sans-seriff;
    margin: 0;
    overflow-x: hidden;
}

.brand-image {
    width: 80px;
    margin-left: 80px;
}

.nav-link {
    font-size: 14px;
    padding: 8px 20px !important;
    margin: 0 4px;
}

.nav-link.cart {
    padding: 0 10px !important;
}
.nav-link.cart:hover {
    border-bottom: 0;
}

.nav-link:hover {
    color: #0B4B9C;
    border-bottom: 2px solid #0B4B9C;
    transition-duration: 300ms;
}

.nav-active {
    font-weight: 600;
    color: #0B4B9C;
    border-bottom: 2px solid #0B4B9C;
}

.landing-hero {
    width: 100%;
    height: 95vh;
    background-color: #F5F7FF;
    padding: 0 80px;
}

.landing-hero-v2 {
    width: 100%;
    height: 35vh;
    background-color: #F5F7FF;
}

.hero-image {
    width: 500px;
    border-radius: 24px;
    box-shadow: 16px 16px #0B4B9C;
}

.hero-title {
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    color: #0B4B9C;
}

.hero-title {
    font-size: 52px;
    font-weight: 500;
    line-height: 72px;
    color: #0B4B9C;
}

.hero-bradcrumb {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 0;
    gap: 8px;
}

.hero-bradcrumb a {
    text-decoration: none;
    color: #212529;
}

.badge-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}

.hero-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    color: #45505F;
    width: 80%;
}

.hero-button {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: white;
    background-color: #0B4B9C;
    border: 0;
}

#contact-us-hover {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#contact-us-text {
    padding: 6px 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1.93464994430542px 7.738589763641357px 0px #00000026;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
}

#contact-us-image {
    cursor: pointer;
}

.product-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
}

.product-subtitle {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #0B4B9C;
    margin-bottom: 0;
}

.product-small-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.best-selling-product-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 72px;
}

.view-all-product-link {
    cursor: pointer;
    text-decoration: none;
    color: #241F33;
    font-size: 18px;
}

/* .best-selling-card-group {
    display: flex;
    justify-content: space-evenly;
} */

.product-card {
    min-height: 464px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    cursor: pointer;
    transition-duration: 200ms;
}

.product-card:hover {
    box-shadow: 0 0 30px 0 rgba(0,0,0,.15);
}

.product-card > .card-image {
    width: 100%;
    height: 200px;
    max-height: 300px;
}

.product-card > .card-image > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-card > .card-title {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
}

.product-card > .card-price {
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
    text-align: center;
    color: #0B4B9C;
    margin-top: 4px;
}

.product-card > .card-subtitle {
    margin-top: 32px;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    color: #777777;
}

.article-card {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    cursor: pointer;
    transition-duration: 200ms;
}

.article-card:hover {
    box-shadow: 0 0 30px 0 rgba(0,0,0,.15);
}

.article-card > .card-image {
    width: 100%;
    height: 200px;
    max-height: 300px;
}

.article-card > .card-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-card > .card-title {
    padding: 14px;
    font-size: 21px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
}

.article-card > .card-price {
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
    text-align: center;
    color: #0B4B9C;
    margin-top: 4px;
}

.article-card > .card-subtitle {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    color: #777777;
}

.card-detail-button {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    color: #241F33;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-overlay-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.image-overlay-container-small {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 49.5%;
    border-radius: 12px;
}

.image-overlay-container-small-v2 {
    position: relative;
    display: inline-block;
    width: 32.5%;
    /* height: 100%; */
    border-radius: 12px;
}

.image-overlay-image {
    width: 100%;
    display: block;
    border-radius: 12px;
}

.image-overlay-image-small {
    width: 100%;
    display: block;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.image-overlay-text {
    position: absolute;
    bottom: 20%;
    left: 10%;
    color: white;
}

.image-overlay-product-title {
    font-size: 44px;
    font-weight: 400;
}

.image-overlay-product-title-v2 {
    font-size: 16px;
    font-weight: 400;
}

.shop-now-btn {
    color: #000000; /* Button text color */
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    margin-top: 30px; /* Space above the button *//
}

.product-mini-gallery {
    max-height: 70vh;
}

.large-gallery-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.small-gallery-container {
    width: 50%;
}

.product-nav {
    border: 0;
}

.product-nav .nav-item .nav-link {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding: 0 !important;
    border: 0;
    color: #45505F;
}

.product-nav .nav-item .nav-link.active {
    font-weight: 600;
    color: #0B4B9C;
    border-bottom: 2px solid #0B4B9C;
}

.product-nav .nav-item .nav-link:hover {
    color: #0B4B9C;
    border-bottom: 2px solid #0B4B9C;
}

.browse-all-btn {
    border-radius: 50px;
    border: 0;
    background-color: #0B4B9C;
    padding: 20px 50px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
}

.featured-product-container {
    background-color: #F5F7FF;
    padding: 100px;
    margin-bottom: 100px;
    border-radius: 12px;
}

.featured-product-image {
    width: 30%;
}

.featured-product-image img{
    width: 100%;
}

.featured-product-text-group {
    width: 60%;
}

.featured-product-subtitle {
    font-size: 24px;
    font-weight: 300;
    line-height: 72px;
    color: #45505F;
}

.featured-product-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: #0B4B9C;
}


.featured-product-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    color: #45505F;
}

.social-media-container {
    background-color: #F5F7FF;
    padding: 80px 0;
}

.social-media-title {
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
    margin-bottom: 40px;
}

.social-media-card {
    padding: 30px;
    background-color: white;
    border: 2px solid #45505F;
    border-radius: 12px;
    width: 260px;
    cursor: pointer;
    transition-duration: 200ms;
}

.social-media-card:hover {
    box-shadow: 4px 4px 0px 0px #45505F;
}

.social-media-icon {
    margin-bottom: 20px;
}

.social-media-card-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.social-media-card-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #45505F;
}

.footer-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 40px;
}

.footer-list-group {
    list-style-type: none;
    padding: 0;
}

.footer-list {
    padding: 4px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.footer-copyright {
    width: 100%;
    padding: 15px;
    background-color: #241F33;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: center;
    color: white;
}

.footer-brand-image {
    width: 90px;
}

.footer-brand-text {
    text-align: right;
}

.form-search{

    position: relative;
}

.form-search .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form-search span{
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{

   padding-left: 10px;
}

.form-search.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-search.form-input:focus{

    box-shadow: none;
    border:none;
}

.footer-container {
    width: 100%;
    display: flex;
    padding: 0 3rem;
}

.footer-social-media-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
}

.footer-brand-container {
    width: 25%;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

@media screen and (max-width: 1024px) {
    .hero-image {
        width: 50%;
    }

    .hero-description {
        width: 75%;
    }

    .product-title {
        font-size: 40px;
        line-height: unset;
    }

    .best-selling-card-group {
        justify-content: space-between;
    }

    .product-mini-gallery {
        height: 40vh;
    }

    .image-overlay-container {
        height: 80%;
    }

    .image-overlay-product-title {
        font-size: 40px;
    }

    .featured-product-subtitle {
        font-size: 18px;
        line-height: unset;
    }

    .featured-product-title {
        font-size: 24px;
        line-height: unset;
    }

    .featured-product-description {
        font-size: 16px;
        line-height: 30px;
    }

    .featured-product-image {
        display: flex;
        align-items: center;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-social-media-container {
        width: 100%;
        padding: 0;
    }

    .footer-brand-container {
        margin-bottom: 30px;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .footer-brand-text {
        text-align: left;
        margin: 0;
    }

    .footer-brand-image {
        margin-right: 10px;
    }

}

@media screen and (max-width: 767px) {

    .brand-image {
        margin: 0;
    }

    .nav-item{
        text-align: right;
    }

    .nav-link {
        margin: 0;
    }

    .nav-active {
        border-right: 4px solid #0B4B9C;
        border-bottom: unset;
    }

    .hero-image {
        display: none;
    }

    .hero-title {
        font-size: 40px;
        line-height: unset;
        margin-top: 30px;
    }

    .hero-badges {
        margin-top: 1rem !important;
    }

    .badge-text {
        font-size: 14px;
    }

    .hero-description {
        width: 100%;
        font-size: 14px;
        line-height: unset;
    }

    .hero-button {
        font-size: 14px;
        width: 150px;
        height: 40px;
    }

    #contact-us-text {
        font-size: 14px;
    }

    .product-title {
        font-size: 32px;
    }

    .product-subtitle {
        font-size: 16px;
    }

    .product-small-subtitle {
        font-size: 13px;
    }

    .best-selling-product-title {
        font-size: 24px;
        line-height: unset;
        width: 75%;
    }

    .view-all-product-link {
        text-align: right;
        font-size: 12px;
        width: 25%;
    }

    .best-selling-product-title {
        width: 100%;
    }

    .product-nav {
        margin-top: 14px;
    }

    .product-nav .nav-item .nav-link {
        font-size: 14px;
        margin: 0;
    }

    .product-card > .card-title {
        font-size: 20px;
    }

    .product-card > .card-price {
        font-size: 18px;
    }

    .product-card > .card-subtitle {
        font-size: 14px;
        margin: 14px 10px 0 10px;
    }

    .article-card > .card-title {
        font-size: 20px;
    }

    .article-card > .card-subtitle {
        font-size: 14px;
        margin: 14px 10px 0 10px;
    }

    .browse-all-btn {
        font-size: 14px;
        padding: 16px 20px;
    }

    .featured-product-container {
        padding: 20px;
    }

    .featured-product-text-group {
        width: 100%;
    }

    .featured-product-image {
        justify-content: center;
        width: 100%;
    }

    .featured-product-image > img {
        width: 50%;
    }

    .featured-product-description {
        font-size: 14px;
    }

    .social-media-title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .social-media-container {
        padding: 40px 0;
    }

    .footer-social-media-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-title {
        margin-bottom: 16px;
    }

    .footer-brand-container {
        margin-top: 20px;
        flex-direction: column;
    }

    .footer-brand-text {
        margin-top: 16px;
    }

    .product-mini-gallery {
        height: auto;
        flex-direction: column;
    }

    .image-overlay-container {
        height: 200px;
    }

    .image-overlay-container {
        height: 200px;
    }

    .large-gallery-container {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
    }

    .small-gallery-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .product-mini-gallery {
        max-height: unset;
    }

    .image-overlay-product-title {
        font-size: 18px;
    }

    .shop-now-btn {
        font-size: 14px;
        padding: 0;
    }

}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.image-container img {
    max-height: 100%;
    width: auto;
}

.hero-logo {
    width: 35%;
}

@media screen and (max-width: 968px) { 
    .hero-logo {
        width: 50%;
    }
}

.highlight {
    flex-direction: row;
}

.highlight .item {
    width: 33%;
}

@media screen and (max-width: 768px) {
    .highlight {
        flex-direction: column;
    }
}